.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mtb-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mrl-1 {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.m-1 {
  margin: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.ptb-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.prl-1 {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mtb-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mrl-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.m-2 {
  margin: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.ptb-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.prl-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mtb-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mrl-3 {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.m-3 {
  margin: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.ptb-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.prl-3 {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.p-3 {
  padding: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mtb-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mrl-4 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.m-4 {
  margin: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.ptb-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.prl-4 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.p-4 {
  padding: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mtb-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mrl-5 {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

.m-5 {
  margin: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.ptb-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.prl-5 {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.p-5 {
  padding: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mtb-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mrl-6 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.m-6 {
  margin: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.ptb-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.prl-6 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mtb-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mrl-7 {
  margin-right: 1.75rem;
  margin-left: 1.75rem;
}

.m-7 {
  margin: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.ptb-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.prl-7 {
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}

.p-7 {
  padding: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mtb-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mrl-8 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.m-8 {
  margin: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.ptb-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.prl-8 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.p-8 {
  padding: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.mtb-9 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.mr-9 {
  margin-right: 2.25rem;
}

.mrl-9 {
  margin-right: 2.25rem;
  margin-left: 2.25rem;
}

.m-9 {
  margin: 2.25rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.ptb-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.pl-9 {
  padding-left: 2.25rem;
}

.pr-9 {
  padding-right: 2.25rem;
}

.prl-9 {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

.p-9 {
  padding: 2.25rem;
}

.shadow-1 {
  -webkit-box-shadow: 0 0 0.1rem #3498db;
          box-shadow: 0 0 0.1rem #3498db;
}

.shadow-2 {
  -webkit-box-shadow: 0 0 0.2rem #3498db;
          box-shadow: 0 0 0.2rem #3498db;
}

.shadow-3 {
  -webkit-box-shadow: 0 0 0.3rem #3498db;
          box-shadow: 0 0 0.3rem #3498db;
}

.shadow-4 {
  -webkit-box-shadow: 0 0 0.4rem #3498db;
          box-shadow: 0 0 0.4rem #3498db;
}

.shadow-5 {
  -webkit-box-shadow: 0 0 0.5rem #3498db;
          box-shadow: 0 0 0.5rem #3498db;
}

.shadow-6 {
  -webkit-box-shadow: 0 0 0.6rem #3498db;
          box-shadow: 0 0 0.6rem #3498db;
}

.shadow-7 {
  -webkit-box-shadow: 0 0 0.7rem #3498db;
          box-shadow: 0 0 0.7rem #3498db;
}

.shadow-8 {
  -webkit-box-shadow: 0 0 0.8rem #3498db;
          box-shadow: 0 0 0.8rem #3498db;
}

.shadow-9 {
  -webkit-box-shadow: 0 0 0.9rem #3498db;
          box-shadow: 0 0 0.9rem #3498db;
}

.fontsize-1 {
  font-size: 0.25rem;
}

.fontsize-2 {
  font-size: 0.5rem;
}

.fontsize-3 {
  font-size: 0.75rem;
}

.fontsize-4 {
  font-size: 1rem;
}

.fontsize-5 {
  font-size: 1.25rem;
}

.fontsize-6 {
  font-size: 1.5rem;
}

.fontsize-7 {
  font-size: 1.75rem;
}

.fontsize-8 {
  font-size: 2rem;
}

.fontsize-9 {
  font-size: 2.25rem;
}

.fontsize-10 {
  font-size: 2.5rem;
}

.radius-1 {
  border-radius: 0.25rem;
}

.radius-2 {
  border-radius: 0.5rem;
}

.radius-3 {
  border-radius: 0.75rem;
}

.radius-4 {
  border-radius: 1rem;
}

.radius-5 {
  border-radius: 1.25rem;
}

.radius-6 {
  border-radius: 1.5rem;
}

.radius-7 {
  border-radius: 1.75rem;
}

.radius-8 {
  border-radius: 2rem;
}

.radius-9 {
  border-radius: 2.25rem;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}

body {
  direction: rtl;
}

input, textarea {
  outline: none;
  border: none;
  border-radius: .25rem;
  font-family: Vazir ,serif;
}

.center-placeholder {
  text-align: center;
}

.container {
  margin: auto;
  max-width: 1320px;
  width: 100%;
}

.vazir-font {
  font-family: Vazir , serif;
}

.d-none {
  display: none !important;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-left {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.flex-right {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.flex-stretch {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.flex-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  text-align: center;
}

.success {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.success:hover {
  background-color: white;
  color: #2ecc71;
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
  cursor: pointer;
}

.purple {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.purple:hover {
  background-color: white;
  color: #A63EC5;
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
  cursor: pointer;
}

.danger {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.danger:hover {
  background-color: white;
  color: #e74c3c;
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
  cursor: pointer;
}

.text-success {
  color: #2ecc71;
}

.text-danger {
  color: #e74c3c;
}

.bold-100 {
  font-weight: 100;
}

.bold-300 {
  font-weight: 300;
}

.bold-500 {
  font-weight: 500;
}

.bold-700 {
  font-weight: 700;
}

.bold-900 {
  font-weight: 900;
}

.false-input {
  border: 1px solid #c0392b;
  -webkit-box-shadow: 0 0 10px #e74c3c;
          box-shadow: 0 0 10px #e74c3c;
}

.btn {
  outline: none;
  padding: .5rem .75rem;
  font-family: Vazir, serif;
  border-radius: .25rem;
}

.primaryBtn-outline {
  border: 1px solid dodgerblue;
  color: dodgerblue;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.primaryBtn-outline:hover {
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}

.dangerBtn-outline {
  border: 1px solid #e74c3c;
  color: #e74c3c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dangerBtn-outline:hover {
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
}

.dangerBtn {
  border: 1px solid #e74c3c;
  background-color: #e74c3c;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dangerBtn:hover {
  background-color: white;
  color: #e74c3c;
  cursor: pointer;
}

input::-webkit-input-placeholder {
  font-family: Vazir , serif;
}

input:-ms-input-placeholder {
  font-family: Vazir , serif;
}

input::-ms-input-placeholder {
  font-family: Vazir , serif;
}

input::placeholder {
  font-family: Vazir , serif;
}

body {
  background-color: #313552;
}

header div {
  background-color: #A63EC5;
  color: white;
}

#input-result {
  color: white;
}

#input-result #right {
  background-color: #A63EC5;
}

#input-result #right form input {
  width: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#input-result #right form input:focus {
  width: 95%;
}

#input-result #right form #choose-transaction-type label {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#input-result #right form #choose-transaction-type label input {
  position: relative;
  top: 2px;
}

#input-result #right form #choose-transaction-type label:hover {
  background-color: #151D3B;
  color: white;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

#input-result #right form button[type=submit] {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  outline: none;
  border: 1px solid white;
  font-family: Vazir, serif;
  background-color: transparent;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#input-result #right form button[type=submit]:hover {
  color: #A63EC5;
  background-color: white;
  cursor: pointer;
}

#input-result #left {
  background-color: #A63EC5;
}

#input-result #left .show-totals .total {
  letter-spacing: 2px;
}

#show-micro-account {
  background-color: #cd70e8;
}

#show-micro-account table {
  color: white;
  border-collapse: collapse;
}

#show-micro-account table tr {
  background-color: white;
  color: #2c3e50;
}

#show-micro-account table tr th, #show-micro-account table tr td {
  text-align: center;
  padding: 1rem;
}

#show-micro-account table tr:nth-child(even) {
  background-color: #ecf0f1 !important;
  color: #2c3e50 !important;
}

#show-micro-account table tr:hover {
  background-color: #bdc3c7 !important;
}

#show-micro-account table th {
  padding: 1.2rem .5rem !important;
  background-color: #A63EC5;
  color: white;
}

.popup-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: rgba(52, 73, 94, 0.6);
  color: #ecf0f1;
  overflow: auto;
  z-index: 1;
}

.popup-background .popup {
  background-color: rgba(52, 73, 94, 0.8);
  width: 600px;
  -webkit-animation: fade .5s;
          animation: fade .5s;
}

.popup-background .popup .popup-massage {
  line-height: 1.5;
}

.showPrice {
  color: yellow;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */